@model ProjetoMyTeDev.Models.Wbs

@{
    ViewData["Title"] = "Editar WBS";
}

<h3>Editar WBS</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WbsId" />
            <div class="form-group">
                <label asp-for="WbsCodigo" class="control-label"></label>
                <input asp-for="WbsCodigo" class="form-control" />
                <span asp-validation-for="WbsCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>WBS Tipo</label>
                <select asp-for="WbsTipo" class="form-select">
                    <option value="Chargeability">Chargeability</option>
                    <option value="Non-chargeability">Non-chargeability</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WbsDescricao" class="control-label"></label>
                <input asp-for="WbsDescricao" class="form-control" />
                <span asp-validation-for="WbsDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-secondary my-4" />
                <a asp-area="" asp-controller="Wbss" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
