@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

html, body {
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #f56e01;
    border: #f56e01;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-secondary, .card {
    background-color: #f56e01;
    color: azure;
    border: 0;
}

    .btn-secondary:hover {
        background-color: #d15917;
    }


a, .nav-link {
    color: #f56e01;
}

    .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #f56e01 !important;
    }

.shadow-alter {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

a:hover, .nav-link:hover {
    color: #923e10;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #f56e01;
    color: #fff;
}
