@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-secondary, .card {
    background-color: #f56e01;
    color: azure;
}

.btn-secondary:hover {
    background-color: #d15917;
}

a {
    color: #d15917;
}