@model IEnumerable<ProjetoMyTeDev.Models.RegistroDiario>

@{
    ViewData["Title"] = "Relatório WBS Por Funcionário";
}

<div style="font-size: 25px; margin-bottom: 20px; text-align: center;color: darkorange;font-weight: bold;">
    <p>Registros de WBS geral</p>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="filtroData" style="font-size: 16px; color: darkorange; font-weight: bold; margin-bottom: 10px;">Filtrar por data de registro:</label>
                <input type="text" id="filtroUsuario" class="form-control" />
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-end">
            <div class="form-group">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="font-size: 18px !important; padding: 6px 20px !important; width: 135px !important; height: 40px !important;">Voltar</a>
            </div>
        </div>
    </div>
</div>
</br>

<table class="table">
    <thead>
        <tr>
            <th style="font-weight: bold; font-size: 15px;">
                Código WBS
            </th>
            <td style="font-weight: bold; font-size: 15px;">
                Descrição WBS
            </td>
            <th style="font-weight: bold; font-size: 15px;">
                Usuário
            </th>
            <th style="font-weight: bold; font-size: 15px;">
                Total de Horas
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.DadosProcessados)
        {
            <tr>
                <td>
                    @item.WbsCodigo
                </td>
                <td>
                    @item.WbsDescricao
                </td>
                <td>
                    @item.NomeUsuario
                </td>
                <td>
                    @item.TotalHoras
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#filtroUsuario').keyup(function () {
                var filtro = $(this).val().toLowerCase();
                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(filtro) > -1)
                });
            });
        });
    </script>
}
