@model ProjetoMyTeDev.Models.Departamento

@{
    ViewData["Title"] = "Cadastrar Departamento";
}

<h1>Cadastrar novo departamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartamentoNome" class="control-label"></label>
                <input asp-for="DepartamentoNome" class="form-control" />
                <span asp-validation-for="DepartamentoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-secondary" />
                <a asp-controller="Departamentos" class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
