@model ProjetoMyTeDev.Models.Departamento

@{
    ViewData["Title"] = "Deletar Departamento";
}

<h3>Deletar Departamento</h3>
<br />
<h4>Você tem certeza de que deseja deletar este registro?</h4>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" class="btn btn-secondary my-4"  asp-for="DepartamentoId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a class="btn btn-secondary my-4" asp-controller="Departamentos" asp-action="Index">Voltar</a>
    </form>
</div>
