@model ProjetoMyTeDev.Models.Departamento

@{
    ViewData["Title"] = "Detalhes Departamento";
}



<div>
    <h3>Detalhes do Departamento</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartamentoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentoNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@Model?.DepartamentoId">Editar</a> 
    <a asp-controller="Departamentos" asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
</div>
