@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown border-0">
            <a class="btn dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://th.bing.com/th/id/OIP.3KyM14_WA8SeZ6t6_8789AAAAA?w=266&h=266&rs=1&pid=ImgDetMain" width="40" class="rounded-circle"></img>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Meu perfil</a>
                </li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item"><i class="bi bi-box-arrow-left fs-5"></i>&ensp;Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
