@model ProjetoMyTeDev.Models.NivelAcesso

@{
    ViewData["Title"] = "Cadastrar Acesso";
}

<h3>Cadastrar Novo Nível de Acesso</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NivelAcessoNome" class="control-label"></label>
                <input asp-for="NivelAcessoNome" class="form-control" />
                <span asp-validation-for="NivelAcessoNome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-secondary my-4" />
                <a asp-area="" asp-controller="NivelAcessos" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
