@model ProjetoMyTeDev.Models.NivelAcesso

@{
    ViewData["Title"] = "Detalhes Acesso";
}

<h3>Detalhes do Nível de Acesso</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAcessoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAcessoNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary my-4" asp-route-id="@Model?.NivelAcessoId">Editar</a> 
    <a asp-area="" asp-controller="NivelAcessos" asp-action="Index" class="btn btn-secondary my-4">Voltar</a>
</div>
