@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contate-nos";
}


<div class="text-center mt-5">
    <h3 class="text-black fw-bold">Contate-nos</h3>
    <p style="color: #898989">Entre em contato e diga-nos como podemos ajudar.</p>
</div>
