@model IEnumerable<ProjetoMyTeDev.Areas.Identity.Data.ApplicationUser>
@{
    ViewData["Title"] = "Deletar Funcionário";
}

<h3>Deletar Funcionário</h3>
<br />
<h4>Você tem certeza de que deseja deletar os dados desse funcionário?</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <form asp-controller="Home" asp-action="DeleteFuncionario" method="post">
                        <input type="hidden" asp-for="@item.Id" />
                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Deletar</button>
                        <a class="btn btn-secondary my-4" asp-controller="Home" asp-action="Funcionario">Voltar</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>