@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><font face="Helvetica"> AVANACLE </font></h1><br />
    <p><font face="Helvetica"> Seja bem-vindo ao nosso sistema de registros! </font></p> <br />
    <br />
</div>
<img src="img/foto1.jpeg" class="card-img-top" alt="..." width="150" height="250">
<div>

</div>