@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-font {
        font-family: "Inter", sans-serif;
    }
</style>

<div class="text-center">
    <p class="custom-font"><font face="Helvetica"> Seja bem-vindo ao nosso sistema de registros! </font></p> <br />
</div>
<div class="text-center">
    <img src="img/foto1.jpeg" alt="..." style="width:70%; height: auto">
</div>

<div>

</div>