<style>
    #icone {
        display: flex;
        width: 48px;
        height: 35px;
    }

    .btn {
        border: 0;
        width: 100%;
    }
</style>
<div class="row my-4">
    <div class="col-md-8">
        <p style="font-weight:500">Olá, Administrador!</p>
    </div>
    <div class="col-md-4 text-end">
        <p>@DateTime.Today.ToString("dddd", System.Globalization.CultureInfo.CreateSpecificCulture("pt-BR")), @DateTime.Today.ToString("dd/MM/yyyy")</p>
    </div>
</div>

<span class="fs-5 fw-bold mt-2">Ações Rápidas</span>
<div class="row my-4">
    <div class="col-md-2">
        <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Funcionarios" asp-action="Create"><i class="bi bi-person-fill-add fs-5"></i>&ensp; Cadastrar Funcionário</a>
    </div>
    <div class="col-md-2">
        <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Departamentos" asp-action="Create"><i class="bi bi-calendar-plus-fill fs-5"></i>&ensp; Cadastrar Departamento</a>
    </div>
    <div class="col-md-2">
        <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Wbss" asp-action="Create"><i class="bi bi-calendar2-week-fill fs-5"></i>&ensp; Cadastrar WBS</a>
    </div>
    <div class="col-md-2">
        <a type="button" class="btn btn-secondary"><i class="bi bi-clipboard2-check-fill fs-5"></i>  Relatórios</a>
    </div>
    <div class="col-md-2">
        <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Cargos" asp-action="Create"><i class="bi bi-clock-fill fs-5"></i>&ensp; Cadastrar Cargos</a>
    </div>
    <div class="col-md-2">
        <a type="button" class="btn btn-secondary"><i class="bi bi-people-fill fs-5"></i>&ensp; Listar Funcionários</a>
    </div>
</div>
<span class="fs-5 mt-2 fw-bold">Métricas da Quinzena</span>
<div class="row my-5">
    <div class="col-md-4">
        <div class="card border-0 text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title">40</h5>
                <p class="card-subtitle mb-2">Funcionários cadastrados</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-0 text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title">5</h5>
                <p class="card-subtitle mb-2">Departamentos cadastrados</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-0 text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title">37</h5>
                <p class="card-subtitle mb-2">Registros lançados</p>
            </div>
        </div>
    </div>
</div>